.ant-layout-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 47px;
  line-height: 47px;
  /*
  background-color:#283e4a;
  */
}

.ant-layout-header .title {
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  float: left;
  padding-right: 20px;
}

.ant-layout-header .menu {
  float: right;
}

.ant-layout-content {
  padding-top: 50px;
  min-height:100vh;
  background-color: #fff;
}

.ant-layout-footer {
  background-color: #f0f2f5;
}


.ant-layout-header .ant-menu-item-selected {
  font-weight: 500;
}