.ant-layout-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  /*
  background-color:#283e4a;
  */
}

.ant-layout-header .title {
  float: left;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  margin-right: 30px;
}

.ant-layout-footer {
  background-color: #f0f2f5;
}

.ant-layout-header .ant-menu-item-selected {
  font-weight: 500;
}

.ant-layout {
  background-color: #fff;
}

.top-menu .ant-menu-item {
  font-size: 14px;
}

.top-menu .anticon {
  margin-right: 7px;
}

.content-layout {
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;

  /*min-height: 100vh;*/
  background-color: #fff;
}
